<div class="page">
  <section class="page-section">
    <div class="mosaic-hero ">
      <div class="outer">
        <div class="inner">
<div class="bx">
  <div class="bxx1">
    <div class="content-container">
      <div class="content-container--inner">
        <h1 class="h1s1">Welcome back!</h1>
        <p class="p1s1">Log back into your account or explore our latest news and tips.</p>
        <div class="btnlog"><a class="btn btn-success" href="https://create.kahoot.it/auth/login">Log in</a></div>
      </div>
    </div>
    <div class="image-container">
      <img src="../../assets/s1.png" class="attachment-kotw size-kotw">
    </div>
  </div>
  <div class="bxx2">
  <div class="content-container">
  <div class="content-container--inner">
  <p class="p1s2">The Kahoot! app now supports 7 languages!</p>
  <span style="color: rgb(110, 110, 110);font-family: &quot;Montserrat&quot;, sans-serif;font-size: 14px;font-weight: 400;line-height: 19.6px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;margin-top: 10px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;padding-top: 0px;text-align: left;">Enjoy the Kahoot! app experience in German and
    Italian, in addition to French, Brazilian Portuguese and Norwegian,
    Spanish and English!</span>
  <p class="p3s2"><a href="https://kahoot.com/blog/2021/03/24/kahoot-app-german-and-italian/">Learn more</a></p>
  </div>
  </div>
  <div class="image-container">
  <img src="../../assets/s2.png" class="attachment-kotw size-kotw">
  </div>
  </div>
</div>

<div class="bx">
<div class="bxx2">
<div class="content-container">
<div class="content-container--inner">
<p class="p1s2">Empower your school or district with Kahoot!</p>
<p class="p2s2">Connect teachers with a Kahoot! EDU site license for time-saving collaboration.</p>
<p class="p3s2"><a href="https://kahoot.com/blog/2020/10/01/kahoot-edu-connect-school-district-site-license/">Learn more</a><br>
<div class="btnlog"><a href="https://kahoot.com/schools/kahoot-edu/#plans" class="btn btn-success">Buy now</a></div>
</div>
</div>
<div class="image-container">
<img src="../../assets/s3.png" class="attachment-kotw size-kotw">
</div>
</div>
<div class="bxx2">
<div class="content-container">
<div class="content-container--inner">
<p class="p1s2">New: Display questions and answers on players’ devices in live kahoots</p>
<p class="p2s2">Make a live kahoot experience more inclusive and accessible for all learners!</p>
<p class="p3s2"><a href="https://kahoot.com/blog/2021/03/04/questions-answers-on-students-devices/">Learn more</a></p>
</div>
</div>
<div class="image-container">
<img src="../../assets/s4.png" class="attachment-kotw size-kotw">
</div>
</div>
</div>

<div class="bx">
<div class="bxx2">
<div class="content-container">
<div class="content-container--inner">
<p class="p1s2">Kahoot! EDU Meetup: Spring edition gathered 20,000 educators!</p>
<p class="p2s2">Couldn’t attend? We’ve recorded all sessions and product demos!</p>
<p class="p3s2"><a href="https://kahoot.com/schools/edu-meetup-spring-edition/">Watch recordings</a></p>
</div>
</div>
<div class="image-container">
<img src="../../assets/s5.png" class="attachment-kotw size-kotw">
</div>
</div>
<div class="bxx2">
<div class="content-container">
<div class="content-container--inner">
<p class="p1s2">New: Kahoot! Academy Connect</p>
<p class="p2s2">Connect directly with creators of awesome learning content and network with millions of other educators!</p>
<p class="p3s2"><a href="https://kahoot.com/blog/2021/03/25/announcing-kahoot-academy-connect/">Learn more</a></p>
</div>
</div>
<div class="image-container">
<img src="../../assets/s6.png" class="attachment-kotw size-kotw">

</div>
</div>
</div>

</div>
</div>
</div>
</section>
</div>
