// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.red{
  color: red;
}
.blk{
  color: #252822;
}
.btnheart{
  padding:0;
  background-color:transparent;
  text-decoration:underline;
  border:none;
  border:0;
  color:blue;
  cursor:pointer;
  font-family:inherit;
  font-size:inherit;
}
