// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fixmore{
    margin-top: 7px;
}
.eNlGIU {
    padding: 8px 16px;
    margin: 0px 0px 1px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    border-radius: 4px 4px 0px 0px;
}
.jMKHMU {
    padding: 8px 16px;
    margin: 0px 0px 1px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    border-radius: 0px 0px 4px 4px;
}
.lnPQaU {
    padding: 8px 16px;
    margin: 0px 0px 1px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    color: rgb(51, 51, 51);
}
.xDZya {
    margin-top: 10px;
    padding: 0px;
    border: 0px none;
}
.lhxYIX {
    display: flex;
    -moz-box-pack: end;
    justify-content: flex-end;
}
.ctn-demo{
  display: flex;
}
#demo{
  font-size: 50px;
  color: #db4844;
  margin: auto;
}
