  <div class="test-view__left not-for-mobile">
  <div class="flexx">
    <div class="goijla">Question List</div>
  </div>
  <hr>
  <div class="h-full flex flex-col">
    <div class="flex flex-col label-question justify-center">
      <div class="ctn-demo">
        <span id="demo"><%=@course.timer%></span>
      </div>
      <hr>
    </div>
    <div class="question-list">
      <div class="list-item">
        <div class="question-list">
         <div class="list-item">
           <% @course.questions.sample(@course.quantity).each.with_index(1) do |question,index|%>
           <div class="id-items">
             <ul class="tabs">
               <span id="idtab<%=index%>" class="marqs"><li class="tab-link" data-tab="tab-<%=index%>"><%=index%></li></span>
             </ul>
           </div>
           <%end%>
         </div>
       </div>
      </div>
    </div>
  </div>
  </div>
  <button type="button" id="timesup"  data-toggle="modal" data-target="#exampleModal2">
    yesssss
  </button>
  <div class="modal fade" id="exampleModal2" tabindex="3" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <div class="mado">
            <img src="../../assets/war.svg" class="kotwsi">
            <span class="p2s2">Time out, Please submit your test, you can review the results in the Report section</span>
          </div>
        </div>
        <div class="modal-footer">
          <button id="acxep" type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
