 <%= javascript_pack_tag 'result', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <div class="col-md-8", id="vques">
    <%= render 'status_form'%>
  </div>
  <div class="col-md-4">
    <%= render 'questions_list'%>
    <div class="wowo">
      <div type="button" value="-" id="sub" class="wow">Previous Question</div>
      <div type="button" value="+" id="add" class="wow">Next Question</div>
    </div>
  </div>
  <span id="numbersQ"><%= @course.questions.count%></span>
  <input type="hidden" value="1" id="value">
</div>
